@keyframes title-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.user-title-style-owner {
    background-color: gold;
    font-weight: bold;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}

.user-title-style-admin {
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}

.user-title-style-sp {
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}

.user-title-style-movetoex {
    display: inline-block;
    background-color: skyblue;
    color: black;
    font-weight: 300;
    padding: 4px 2px 4px 2px;
    border-radius: 4px;
    animation: title-rotation 2s infinite cubic-bezier(1, 0, 0, 1);
}

.user-title-style-normal {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
}

.user-title {
    text-align: center;
}