{% extends "base.html" %}

{% block title %}博客{% endblock %}

{% load markdown_extras %}

{% block head %}
<link rel="stylesheet" href="/static/css/codehilite.css" />
<style>
    .post-title {
        font-size: 48px;
        font-weight: 200;
    }

    .post-title-link {
        text-decoration: none;
        transition: color .2s linear;
        color: black;
    }

    .post-title-link:hover {
        color: skyblue;
        transition: color .2s linear;
    }

    .post-content {
        font-size: 32px;
        padding-top: 12px;
        font-weight: 300;
    }
</style>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    MathJax = {
        options: {
            renderActions: {
                find: [10, function (doc) {
                    for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
                        const display = !!node.type.match(/; *mode=display/);
                        const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
                        const text = document.createTextNode('');
                        node.parentNode.replaceChild(text, node);
                        math.start = { node: text, delim: '', n: 0 };
                        math.end = { node: text, delim: '', n: 0 };
                        doc.math.push(math);
                    }
                }, '']
            }
        }
    };
</script>
{% endblock %}

{% block content %}

<a href="{% url 'blog:new' %}" class="mdui-fab mdui-fab-fixed mdui-ripple mdui-color-pink-200" style="z-index: 1000;">
    <i class="mdui-icon material-icons">add</i>
</a>

<div class="mdui-container">

    {% for post in posts %}
    <div class="mdui-row" style="margin-top: 32px;">
        <div class="mdui-text-center mdui-text-truncate post-title">
            <a class="post-title-link" href="{% url 'blog:post' post.id %}">
                {{post.title}}
            </a>
        </div>
    </div>
    <div class="mdui-row">
        <div class="mdui-text-center post-info">
            @{{post.author.username}} |
            <span title='{{ post.pub_time|date:"c" }}'>
                {{ post.pub_time | date:"Y/m/d G:i" }}
            </span>
        </div>
    </div>

    <div class="mdui-row">
        <div class="mdui-col-offset-md-2 mdui-col-md-8 mdui-col-xs-12 mdui-truncate">
            {{post.content | overview | markdown | safe}}
        </div>
    </div>

    <div class="mdui-divider mdui-center" style="width: 65%;"></div>
    {% endfor %}

</div>

{% endblock %}